$_ff-sans: "Source Sans Pro", sans-serif;
$_ff-serif: "Alegreya SC", serif;

$font-family-base: $_ff-sans;
$font-family-accent: $_ff-serif;

$font-sizes: (
  "small": (
      "900": 3.75rem,
      "800": 2.25rem,
      "700": 1.75rem,
      "600": 1.125rem,
      "500": 1.125rem,
      "400": 1rem,
  ),
  "large": (
      "900": 3.75rem,
      "800": 3rem,
      "700": 1.75rem,
      "600": 1.3125rem,
      "500": 1.125rem,
      "400": 1rem,
  ),
);

$_fw-400: 400;
$_fw-500: 500;
$_fw-700: 700;

$font-weight-default: $_fw-400;
$font-weight-semi-bold: $_fw-500;
$font-weight-bold: $_fw-700;
