@use '../abstracts' as *;
@use '../utilities/flow' as *;

.hero {
  --flex-column-gap: #{$size-10};
  --hero-font-size: #{$font-size-600};
  --hero-line-height: 150%;

  font-size: var(--hero-font-size);
  line-height: var(--hero-line-height);

  & .flow {
    --flow-spacer: #{$size-5};
  }

  &__text-content {
    flex: 1 0 0;
    margin-block: auto;
  }

  &__image {
    flex: 0 0 auto;
  }

  .button {
    font-size: var(--hero-font-size);
  }
}
